@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var resultAuthorize = await authorizationService.AuthorizeAsync(this.User, "ShowAdminMenu");
}
@if (resultAuthorize.Succeeded)
{
    <li class="header__navbar-item ">
        <a class="header__navbar-item-link" asp-action="index" asp-controller="AdminCP" asp-area="AdminCP">
            <i class="header__navbar-icon fas fa-cog"></i> Quản trị</a>
    </li>
}
