@model string

@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
@{
    if (!String.IsNullOrEmpty(Model))
    {
        <div>
            <p>
                Không tìm thấy địa chỉ Email.
            </p>
        </div>
    }
    else
    {
        <div>
            <p>
                Hãy kiểm tra Email để lấy lại mật khẩu!
            </p>
        </div>
    }
}
