.account-manage-input-form{
    font-size: 1.8rem;
}
.account-manage-btn{
    font-size: 1.8rem;
    height: 100%;
}
.account-manage-title{
    font-size: 2.5rem;
}
.account-manage-title_{
    font-size: 2rem;
}
.account-manage-item{
    font-size: 1.8rem;
}