@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@using App.Areas.Identity.RoleViewModels;
@model IndexRoleViewModel
@{
    ViewData["Title"] = "Tạo role mới";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" />
<hr>
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Mới" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Danh sách các role</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
    _AdminSidebarService.SetActive("Role", "Create", "Identity");
}
@section Sidebar
{
@Html.Raw(_AdminSidebarService.renderHtml())
}